


h1 {
  color: red;
}

li {
  color: blue;
}

h4 {
  color: rgba(255, 97, 0, 0.1)
}


body {
  background-color: grey;
}

div {
  background-color: white;
  border-color: blue;
  border-width: 10px;
  border-style: dotted;
}

p {
  color: black;
}

span {
  color: #FF00FF;
  background-color: #00FFFF;
}

.firstDiv {
  color: green;
}

.secondDiv {
  background-color: grey;
}

#para {
  color: blue;
  text-decoration: line-through;
}

h3 + ol {
  border: 4px dotted purple;
}
