.turnBlue{
  color:white;
  background: blue;
}
.turnRed{
  color:white;
  background: red;
}

.board button{
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 1px;
  border: 4px solid black;
  border-radius: 50%;
}
