{% extends "first_app/base.html" %}
{% load my_templates %}
  {% block body_block %}
    <h1>Section 20</h1>
      <div class="jumbotron">
        <h2>Login</h2>
        <form class="" action="{% url 'first_app:user_login' %}" method="post">
          {% csrf_token %}
          <label for="username">Username : </label>
          <input type="text" name="username" placeholder="Enter Username">
          <label for="password">Password : </label>
          <input type="password" name="password">
          <input type="submit" value="Login">
        </form>
      </div>
      {{ text|myFilter:'world'}}
      {{ number|add:"99" }}
    </div>
  {% endblock %}
