<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Section18</title>
  </head>
  <body>
    <div class="container">
      <h1>Section 18</h1>
      <div class="container">
        <div class="jumbotron">
          <h2>Sign Up at /users</h2>
        </div>
      </div>


      <h2>Here are your access records</h2>
      <div class="django">
        {% if access_records %}
        <table>
          <thead>
            <th>Site name</th>
            <th>Date Accessed</th>
          </thead>

          {% for acc in access_records %}
          <tr>
            <td>{{ acc.name }}</td>
            <td>{{ acc.date }}</td>
          </tr>
          {% endfor %}
        </table>

        {% else %}
        <p>No Access Records found</p>
        {% endif %}
      </div>
    </div>

  </body>
</html>
